* {
    margin: 0;  
    padding: 0;
}

html{
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: cursive;
    background-color: antiquewhite;
}

h1{
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#000428, #003c70, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    font-family:  'Times New Roman';
    padding: 20px 0;
    color: #eee;    
}

h2{
    text-align: center;
    font-family:  Georgia;
    padding-top: 20px;
    padding-right: 10px;
    color: #312828;
}

aside{
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

aside ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside ul li{
    text-align: center;
    padding: 10px 20px ;
    margin-top: 0;
}


li ,p{
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px;
}




                    /* SIDEBAR MENU TOGGLE */
                
                    #site-navigation {
                        display: block;
                        background: black;
                        height: 40px;
                      }
                       
                      #site-navigation #main-menu,
                      #site-navigation > input {
                        display: none;
                      }
                       
                      #site-navigation > label {
                        display: block;
                        font-size: 36px;
                        color: #fff;
                        position: absolute;
                        right: 18px;
                        top: -7px;
                        width: 22px;
                        padding: 0;
                        cursor: pointer;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                      }
                       
                      #site-navigation > input:checked + #main-menu {
                        display: block;
                        clear: both;
                        top: 36px;
                        position: relative;
                        background: rgba(0, 0, 0, 0.918);
                        color: #fff;
                      }
                       
                      #site-navigation ul li {
                        display: block;
                        padding: 12px 10px;
                      }
                       
                      #site-navigation a {
                        color: #cacaca;
                        text-decoration: none;
                      }
                    
                      #site-navigation a:hover {
                        color: rgb(255, 255, 255);
                        border-bottom: 1px solid rgb(255, 255, 255);
                    }

#aboutme{
    background-position: 100vw;
    background-repeat: no-repeat;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#aboutme h2 {
    color: antiquewhite;
}

.aboutme{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 70vh;
    padding: 20px 0px;
}


.image img{
    margin-left: 5vw;
    height: 270px;
    width: 240px;
}


.myself table {
    margin-right: 8vw;
    text-align: left;
    border-collapse: collapse;
    border-width: 1px;
    border-color: antiquewhite;
    border-style: solid;
    color: antiquewhite;
  }
  
.myself table td {
    border-width: 1px;
    border-color: antiquewhite;
    border-style: solid;
    padding: 10px;
  }



#careerobjective {
    padding: 10px;
}

.careerobjective {
    display: flex;
    flex-direction: row;
    align-content: center;
    color: rgb(9, 78, 63);

}

.careerobjective p{
    margin-top: 90px;
}

.careerobjimg {
    margin: 50px auto;
    padding-left: 40px;
    height: auto;
    width: 300px;
}

/* skills */

#skills {
    padding: 10px;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#skills h2{
    color: antiquewhite;
}

.skillstable {
    margin-left: auto;
    margin-right: auto;
}

table.skillstable {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 90%;
    border-collapse: collapse;
    border-width: 1px;
    border-color: antiquewhite;
    border-style: solid;
    color: antiquewhite;
  }
  
  table.skillstable td, table.skillstable th {
    border-width: 1px;
    border-color: antiquewhite;
    border-style: solid;
    padding: 10px;
  }
  
  table.skillstable thead {
    background-color: #100d2a;
  }


#academics {
    margin-top: 50px;
    padding: 10px;
  }

.academics {
    display: flex;
    padding-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.academics ol li{
    color: rgb(9, 78, 63);
    margin-left: 30px;
    margin-top: 20px;
  }


#projects{
    margin-top: 50px;
    color: antiquewhite;
    padding: 10px;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#projects h2{
    color: antiquewhite;
}

.projects{
    display: flex;
    padding-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}


.projects ol li {
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px;
}


  /* Awards and Certificates */

#awardsandcertificate {
    margin-top: 50px;
    padding: 10px;
  }

.awardsandcertificate {
    display: flex;
    padding-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
}


#contact {
    margin-top: 50px;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#000428, #003c70, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact li{
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    display: inline-block;
    list-style: none;
    color: rgb(253, 255, 139);
}

.contact .icon{
    padding: 10px;
    margin: 50px;
    height: 40px;
    width: 39px;
    filter: opacity(20%);
    -webkit-filter: opacity(20%);
   -moz-filter: opacity(20%);
   -ms-filter: opacity(20%);
   filter: opacity(20%);
   
}

.contact a{
    border-bottom: none;
}

.contact .icon:hover {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
   -moz-filter: opacity(100%);
   -ms-filter: opacity(100%);
   filter: opacity(100%);
}



/* Media Queries */

@media screen and (max-width: 1150px) {
    body {
      font-size: 14px;
    }

    .contact .icon{
        margin: 40px;
        height: 30px;
        width: 29px;

    }

    .careerobjective p{
        margin-top: 60px;
    }

    .image img{
        margin-top: 2px;
        margin-left: 15vw;
        height: 200px;
        width: 180px;
    }
  }


@media screen and (max-width: 810px) {
    body {
        font-size: 12px;
    }

    .careerobjective p{
        margin-top: 40px;
    }

    .careerobjimg{
        margin: 40px auto;
        padding-left: 30px;
        height: auto;
        width: 250px;
    }

    .image img{
        margin-right: auto;
    }

  }


  @media screen and (max-width: 700px) {

    #contact{
        margin-top: 0;
    }

    .contact .icon {
        margin: 40px 20px;
    }

    .myself table {
        margin-right: 5vw; 
    }

    .academics {
        justify-content: center;
        padding-top: 20px;
    }
    .careerobjective {
        flex-direction: column-reverse;
    }

    .careerobjective p{
        margin-top: 0;
        margin-bottom: 50px;
    }
    
    .careerobjimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-left: 0;
        height: auto;
    }

    #awardsandcertificate {
        margin-top: 50px;
    }
    .awardsandcertificate{
        padding-top: 20px;
    }

    .aboutme{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        height: auto;
        padding: 0;
    }

    #aboutme h2{
        margin-bottom: 30px;
    }

    .image img{
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 160px;
    }

    .myself{
        margin-bottom: 50px;
    }

    .myself table {
        margin-left: auto;
        margin-right: auto;
    }

  }
 

    /* Sidebar media query */
  @media only screen and (min-width: 932px) {
    #site-navigation {
      height: auto;
    }
    #site-navigation #main-menu {
      display: block;
    }
    #site-navigation > label {
      display: none;
    }
    #site-navigation ul li {
      display: inline-block;
    }
  }


  @media only screen and (max-width: 500px) {
      .contact .icon {
        margin: 10px 10px;
        
    }

  }

  @media only screen and (max-width: 360px) {
    .contact {
      flex-direction: column;
      align-items: center;
  }

}